<p id="notice"><%= notice %></p>

<h1>Pondered Activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Init date</th>
      <th>Pondered planner</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pondered_activities.each do |pondered_activity| %>
      <tr>
        <td><%= pondered_activity.name %></td>
        <td><%= pondered_activity.description %></td>
        <td><%= pondered_activity.init_date %></td>
        <td><%= pondered_activity.pondered_planner %></td>
        <td><%= pondered_activity.subject %></td>
        <td><%= link_to 'Show', pondered_activity %></td>
        <td><%= link_to 'Edit', edit_pondered_activity_path(pondered_activity) %></td>
        <td><%= link_to 'Destroy', pondered_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pondered Activity', new_pondered_activity_path %>
