<p id="notice"><%= notice %></p>

<h1>Pondered Planners</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parallel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pondered_planners.each do |pondered_planner| %>
      <tr>
        <td><%= pondered_planner.name %></td>
        <td><%= pondered_planner.parallel %></td>
        <td><%= link_to 'Show', pondered_planner %></td>
        <td><%= link_to 'Edit', edit_pondered_planner_path(pondered_planner) %></td>
        <td><%= link_to 'Destroy', pondered_planner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pondered Planner', new_pondered_planner_path %>
