<p id="notice"><%= notice %></p>

<h1>List Of Children</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list_of_children.each do |list_of_child| %>
      <tr>
        <td><%= list_of_child.user %></td>
        <td><%= list_of_child.student %></td>
        <td><%= link_to 'Show', list_of_child %></td>
        <td><%= link_to 'Edit', edit_list_of_child_path(list_of_child) %></td>
        <td><%= link_to 'Destroy', list_of_child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List Of Child', new_list_of_child_path %>
