<p id="notice"><%= notice %></p>

<h1>Planner Details</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Init date</th>
      <th>Description</th>
      <th>Response</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planner_details.each do |planner_detail| %>
      <tr>
        <td><%= planner_detail.name %></td>
        <td><%= planner_detail.init_date %></td>
        <td><%= planner_detail.description %></td>
        <td><%= planner_detail.response %></td>
        <td><%= planner_detail.status %></td>
        <td><%= link_to 'Show', planner_detail %></td>
        <td><%= link_to 'Edit', edit_planner_detail_path(planner_detail) %></td>
        <td><%= link_to 'Destroy', planner_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planner Detail', new_planner_detail_path %>
