<div class="row">
  <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Informacion de la Gestion Escolar</h3>
        </div>

        <div class="box-body">
          <p id="notice"><%= notice %></p>

          <p>
            <strong>Nombre:</strong>
            <%= @management.name %>
          </p>

          <p>
            <strong>Fecha de Inicio:</strong>
            <%= @management.init_date %>
          </p>

          <p>
            <strong>Fecha de Fin:</strong>
            <%= @management.finish_date %>
          </p>

          <p>
            <strong>Turno:</strong>
            <%= @management.turn.name %>
          </p>

          <%= link_to 'Edit', edit_management_path(@management) %> |
          <%= link_to 'Back', managements_path %>
        </div>
      </div>
    </div>
  </div>


<div class="row">
  <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Lista de Cursos de la Gestion</h3>
        </div>

        <div class="box-body">
          <div id="grades_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
              <div class="col-sm-12">
                <h1>Cursos</h1>

                <table id="grades_index" class="table table-bordered table-striped dataTable" role="grid">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th class="col-xs-1">Acciones</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @grades.each do |grade| %>
                      <tr>
                        <td><%= grade.name %></td>
                        <td>
                          <div class="btn-row">
                            <%= link_to raw('<i class="fa fa-cogs"></i>'), edit_grade_url(grade), class: 'btn btn-sm btn-warning' %>
                            <%= link_to raw('<i class="fa fa-cogs"></i>'), grade_path(grade.id), class: 'btn btn-sm btn-success' %>
                            <%= link_to raw('<i class="fa fa-trash"></i>'), grade_url(grade), class: 'btn btn-sm btn-danger', method: :delete,
                                            data: { confirm: 'Are you sure you want to delete this element?' } %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                  <tfoot>
                    <tr role="row">
                      <th>Nombre</th>
                      <th class="col-xs-1">Acciones</th>
                    </tr>
                  </tfoot>
                </table>

                <br>
              </div>
            </div>

          </div>
        </div>

    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-10">
        <%= link_to 'Agregar nuevo Curso', new_grade_path, class: 'btn btn-success pull-right' %>
      </div>
    </div>
    
  </div>

</div>
